html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}
#app {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.body-container {
  min-height: calc(100vh - 90px);
  overflow: auto;
}

// Home
.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 70px;
      text-align: center;
    }
  }
}
